@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?vcjrnq') format('truetype'),
    url('fonts/icomoon.woff?vcjrnq') format('woff'),
    url('fonts/icomoon.svg?vcjrnq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e906";
}
.icon-cancel:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e906";
}
.icon-quit:before {
  content: "\e906";
}
.icon-remove:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e905";
}
.icon-options:before {
  content: "\e905";
}
.icon-lines:before {
  content: "\e905";
}
.icon-hamburger:before {
  content: "\e905";
}
.icon-google-plus:before {
  content: "\e900";
}
.icon-brand:before {
  content: "\e900";
}
.icon-social:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-brand2:before {
  content: "\e901";
}
.icon-social2:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-brand3:before {
  content: "\e902";
}
.icon-social3:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-brand4:before {
  content: "\e903";
}
.icon-tweet:before {
  content: "\e903";
}
.icon-social4:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-brand5:before {
  content: "\e904";
}
.icon-social5:before {
  content: "\e904";
}

