@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?vcjrnq') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?vcjrnq') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?vcjrnq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-quit {
  &:before {
    content: $icon-quit;
  }
}
.icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-options {
  &:before {
    content: $icon-options;
  }
}
.icon-lines {
  &:before {
    content: $icon-lines;
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-brand {
  &:before {
    content: $icon-brand;
  }
}
.icon-social {
  &:before {
    content: $icon-social;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-brand2 {
  &:before {
    content: $icon-brand2;
  }
}
.icon-social2 {
  &:before {
    content: $icon-social2;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-brand3 {
  &:before {
    content: $icon-brand3;
  }
}
.icon-social3 {
  &:before {
    content: $icon-social3;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-brand4 {
  &:before {
    content: $icon-brand4;
  }
}
.icon-tweet {
  &:before {
    content: $icon-tweet;
  }
}
.icon-social4 {
  &:before {
    content: $icon-social4;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-brand5 {
  &:before {
    content: $icon-brand5;
  }
}
.icon-social5 {
  &:before {
    content: $icon-social5;
  }
}

