$icomoon-font-path: "fonts" !default;

$icon-cross: "\e906";
$icon-cancel: "\e906";
$icon-close: "\e906";
$icon-quit: "\e906";
$icon-remove: "\e906";
$icon-menu: "\e905";
$icon-list: "\e905";
$icon-options: "\e905";
$icon-lines: "\e905";
$icon-hamburger: "\e905";
$icon-google-plus: "\e900";
$icon-brand: "\e900";
$icon-social: "\e900";
$icon-linkedin: "\e901";
$icon-brand2: "\e901";
$icon-social2: "\e901";
$icon-facebook: "\e902";
$icon-brand3: "\e902";
$icon-social3: "\e902";
$icon-twitter: "\e903";
$icon-brand4: "\e903";
$icon-tweet: "\e903";
$icon-social4: "\e903";
$icon-youtube: "\e904";
$icon-brand5: "\e904";
$icon-social5: "\e904";

