/* ==========================================================================
   #FLEX ORDER
   ========================================================================== */

.u-flex-order1\@desktop {

  @include mq($from: desktop) {
    order: -1;
  }
}
