/* ==========================================================================
   #FLEX
   ========================================================================== */

.u-flex {
  display: flex;

  > * {
    flex: 1 1 auto;
  }
}
