/* ==========================================================================
   #SECTION
   ========================================================================== */

.c-section {
	padding: $inuit-global-spacing-unit 0;

	@include mq($from: desktop) {
		padding: 58px 0;
	}


	// E: Header
	&__header {
		text-align: center;
		padding-top: 16px;


		// M: Align left
		&--align-left {
			text-align:left;
		}
	}

	// E: Heading
	&__heading {
		color: $color-blue-darker;
		font-size: 21px;

		@include mq($until: desktop) {
			margin-bottom: 0.8em;
		}

		@include mq(tablet, desktop) {
			font-size: 32px;
		}

		@include mq($from: desktop) {
			font-size: 60px;
		}


		// M: Light-blue
		&--light-blue {
			color: $color-blue-light;
		}
	}


	// E: Subheading
	&__subheading {
		font-size: 19px;
		line-height: 1;
		margin-bottom: 14px;

		@include mq(tablet, desktop) {
			font-size: 20px;
		}

		@include mq($from: desktop) {
			font-size: $inuit-global-spacing-unit-large;
			margin-top: -3px;
		}


		// M: White
		&--white {
			color: #fff;
		}
	}

	// E: Copy
	&__copy {
		font-size: 16px;
		padding: 0 0 $inuit-global-spacing-unit;

		@include mq($from: desktop) {
			font-size: 24px;
			padding: 32px 0 70px;
		}

		a {
			color: $color-blue-light;
		}


		// M: White
		&--white {
			color: #fff;
		}
	}

	// M: Dark BG
	&--dark-bg {
		background-color: $color-gray;
	}


	// M: BG Img
	&--bg-img {
		background: $color-blue-darker url('../../images/banner-img.jpg');
		background-size: cover;
	}
}
