/* ==========================================================================
   #BANNER
   ========================================================================== */

.c-banner {
	overflow: hidden;
	position: relative;


	// E: Img
	&__img {
		position: relative;


		// M: Dark overlay
		&--overlay {

			&::after {
				@include position(absolute, 0);
				background: #000;
				content: '';
				opacity: 0.4;
			}
		}


		img {
			min-width: 100%;
		}
	}


	// E: Body
	&__body {
		@include position(absolute, 50% 0 null 0);
		transform: translateY(-50%);
	}


	// E: Heading
	&__heading {
		color: #fff;
		font-size: 19px;
		line-height: 1.1;

		@include mq(tablet, desktop) {
			font-size: 32px;
		}

		@include mq($from: desktop) {
			font-size: 60px;
		}
	}


	// E: Copy
	&__copy {
		color: #fff;
		font-size: 16px;
		max-width: 800px;

		@include mq(tablet, desktop) {
			font-size: 20px;
		}

		@include mq($from: desktop) {
			font-size: 30px;
		}

		p {
			margin-bottom: 0;
		}
	}


	// M: Text overlay
	&--text-overlay {


		// E: Img
		.c-banner__img {
			height: 0;
			max-height: 600px;
			// padding-top: percentage(600/1280);
			padding-top: percentage(663/1440);


			img {
				@include position(absolute, 50% null null 0);
				transform: translateY(-50%);
			}
		}
	}
}
