/* ==========================================================================
   #FEATURES LIST
   ========================================================================== */

.c-features-list {
	padding-top: 8px;


	// E: Item
	&__item {

		@include mq(tablet, desktop) {
			padding-bottom: 18px;
		}

		@include mq($from: desktop) {
			padding-bottom: $inuit-global-spacing-unit;
		}
	}


	// E: Box
	&__box {

	}


	// E: Heading
	&__heading {
		color: $color-blue-light;
		font-size: 19px;
		margin-bottom: 0;
		text-align: center;

		@include mq(tablet, desktop) {
			font-size: 22px;
		}

		@include mq($from: desktop) {
			font-size: 40px;
		}
	}


	// E: Body
	&__body {
		font-size: 16px;
		text-align: center;

		@include mq($from: desktop) {
			font-size: $inuit-global-spacing-unit;
		}
	}


	// E: Icon
	&__icon {
		height: 85px;
		padding-bottom: $inuit-global-spacing-unit-tiny;
		text-align: center;

		@include mq($until: tablet) {
			padding-top: 10px;
		}

		img {
			max-height: 100%;
		}
	}
}
