/* ==========================================================================
   #SITE NAV
   ========================================================================== */

.c-site-nav {
  margin-bottom: 0;
  padding-top: 110px;

  @include mq($until: desktop) {
    @include position(absolute, 0 null null 0);
    background-color: #fff;
    min-height: 100vh;
    padding: 0 $inuit-global-spacing-unit;
    transform: translateX(-100%);
    transition: all 200ms ease;
    width: 260px;
    z-index: 100;

    &.is-open {
      box-shadow: 1px 0 8px rgba(#000, 0.25);
      transform: none;
    }
  }


  //E: Item
  &__item {
    margin-right: 40px;

    @include mq($until: desktop) {
      display: block;
      margin: 0 0 10px;
    }

    // M: Close
    &--close {
      border-bottom: 1px solid $color-gray;
      margin-bottom: 18px;
      padding-bottom: 15px;

      @include mq(tablet, desktop) {
        margin-bottom: $inuit-global-spacing-unit;
        padding-bottom: 21px;
      }

      @include mq($from: desktop) {
        display: none;
      }
    }
  }

  // E: Link
  &__link {
    color: $color-blue-darker;
    display: block;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s linear;

    @include mq($until: desktop) {
      font-size: 18px;
    }

    &:hover {
      color: $color-blue-light;
    }
  }
}
