/* ==========================================================================
   #FORM FIELD
   ========================================================================== */

.c-form-field {
	padding: 9px 0;
	display: block;

	@include mq($from: desktop) {
		padding: 18px 0;
	}

	// E: Wrapper
	&__wrapper {
		display: inline-block;
		width: 100%;

		// M: Select
		&--select {

		}
	}


	// E: Element
	&__element {
		@include padding(null 10px null 17px);
		appearance: none;
		border: 2px solid $color-blue-dark;
		border-radius: 0;
		box-shadow: none;
		font-size: 16px;
		height: 45px;
		width: 100%;

		@include mq($from: desktop) {
		   font-size: 24px;
	   }

		&::placeholder {
			color: $color-blue-dark;
		}
	}
}
