/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
	height: 240px;
	position: relative;

  @include mq(tablet, desktop) {
    height: 440px;
  }

  @include mq($from: desktop) {
    height: 590px;
  }

	// E: Img
	&__img {
    @include position(absolute, 0);
    overflow: hidden;


		// M: Dark overlay
		&--overlay {

			&::after {
				@include position(absolute, 0);
				background: #000;
				content: '';
				opacity: 0.4;
			}
		}


    img {
      @include position(absolute, 50% null null 50%);
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }
	}

	// E: Body
	&__body {
		@include position(absolute, null 0 0 0);
		z-index: 1;
	}

	// E: Text
	&__text {
		color: #fff;
		font-size: 21px;
		line-height: 1;

		@include mq(tablet, desktop) {
			font-size: 32px;
		}

		@include mq($from: desktop) {
			font-size: 60px;
		}

		&:last-child {
			margin-bottom: 29px;
		}

		p {
			margin-bottom: (14/60) * 1em;
		}
	}
}
