/* ==========================================================================
   #CHECKBOX
   ========================================================================== */

.c-checkbox {
	display: block;
	position: relative;

	@include mq($until: desktop) {
		padding: 9px 0 9px 35px;
	}

	@include mq($from: desktop) {
		margin-bottom: $inuit-global-spacing-unit;
		padding-left: 45px;
	}

	// E: Element
	&__element {
		@include position(absolute, 0 null null 0);
		visibility: hidden;

		+ span {
			@include position(absolute, 8px null null 0);
			@include size(22px);
			border: 2px solid $color-blue-dark;
			display: inline-block;

			@include mq($from: desktop) {
				@include size(28px);
				top: 0;
			}
		}

		&:checked + span {

            &:before {
                @include position(absolute, 50% null null 50%);
								@include size(12px);
                background-color: $color-blue-light;
								content: "";
								display: inline-block;
								transform: translate(-50%, -50%);

								@include mq($from: desktop) {
								   @include size(16px);
							   }
            }
        }
	}

	// E: Label
	&__label {
		color: $color-blue-light;
		display: inline-block;
		font-size: 16px;
		line-height: (26px / $inuit-global-spacing-unit) * 1;
		vertical-align: top;

		@include mq($from: desktop) {
			font-size: $inuit-global-spacing-unit;
		}
	}
}
