/* ==========================================================================
   #SOCIAL ICONS
   ========================================================================== */

.c-social-icons {
  margin: 10px 0 24px;

  @include mq($from: desktop) {
    margin-bottom: 30px;
  }


  // E: Item
  &__item {
    margin-right: 18px;

    @include mq($from: desktop) {
			margin-right: 25px;
		}
  }


  // E: LINK
  &__link {
    color: #fff;
    font-size: 27px;
    text-decoration: none;
  }
}
