/* ==========================================================================
   #PAGE HEADER
   ========================================================================== */

.c-page-header {
  height: 44px;
  position: relative;
  z-index: 100;

  @include mq(tablet, desktop) {
    height: 50px;
  }

  @include mq($from: desktop) {
    height: 150px;
  }


  // E: Inner
  &__inner {
    height: 100%;
    position: relative;
  }
}
