/* ==========================================================================
   #SELECT LIST
   ========================================================================== */

.c-select-list {
	border: 2px solid $color-blue-dark;
	display: inline-block;
	font-size: 16px;
	outline: 0;
	position: relative;
	width: 100%;

	@include mq($from: desktop) {
		 font-size: 24px;
	 }

	&:before {
		@include triangle(17px 9px, $color-blue-dark, up);
		@include position(absolute, 9px 8px null null);
		content: "";
	}

	&:after {
		@include triangle(17px 9px, $color-blue-dark, down);
		@include position(absolute, null 8px 9px null);
		content: "";
	}

	select {
		@include padding(null 28px null 17px);
		appearance: none;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		color: $color-blue-dark;
		height: 41px;
		outline: 0;
		position: relative;
		width: 100%;

		&:focus {
	    border-color: $color-blue-dark;
	    box-shadow: none;
        }

        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 $color-blue-dark;
        }

        // remove select element arrow in IE
        &:ms-expand {
            display: none;
        }
	}
}
