/* ==========================================================================
   #FORM
   ========================================================================== */

.c-form {
	padding-top: $inuit-global-spacing-unit-tiny;

	@include mq($until: desktop) {
		margin-top: -22px;	
	}

	// E: Section heading
	&__section-header {
		font-size: 16px;

		@include mq($from: desktop) {
			font-size: 30px;
			padding-bottom: 32px;
		}
	}

	// E: Submit wrapper
	&__submit-wrapper {
		position: relative;
	}

	// E: Submit
	&__submit-btn {
		float: right;

		@include mq($from: desktop) {
		   @include position(absolute, 0 0 null null);
	   }
	}
}
