/* ==========================================================================
   #SITE LOGO
   ========================================================================== */

.c-site-logo {
  @include position(absolute, null 24px -25px null);

  @include mq(tablet, desktop) {
    bottom: -15px;
    width: 110px;
  }

  @include mq($until: tablet) {
    bottom: -12px;
    width: 80px;
  }

  h1 {
    margin-bottom: 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
