/* ==========================================================================
   #MENU ICON
   ========================================================================== */

.c-menu-icon {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: $color-blue-darker;
  display: block;
  font-size: 20px;
  padding: 2px 6px;
  position: relative;
  top: 9px;

  @include mq(tablet, desktop) {
    left: -6px;
    top: 12px;
  }

  @include mq($from: desktop) {
    display: none;
  }
}
