/* ==========================================================================
   #PAGE FOOTER
   ========================================================================== */

.c-page-footer {
	@include padding(36px null 33px);
	background-color: $color-blue-light;
	color: #fff;


	// E: Heading
	&__heading {
		font-size: 19px;
		margin-bottom: 4px;

		@include mq($from: desktop) {
			font-size: 40px;
		}
	}

	// E: Copy
	&__copy {
		font-size: 16px;

		@include mq($from: desktop) {
			font-size: 22px;
		}

		a {
			color: inherit;
		}
	}

	// E: Address
	&__address {
		padding-bottom: 18px;

		@include mq($from: desktop) {
			padding-bottom: 32px;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}


// Footer flex layout
.c-page-footer .o-layout {
	display: flex;
	flex-wrap: wrap;


	// E: Item
	&__item {
		flex-grow: 0 0 auto;
		float: none;
	}
}
