/* ==========================================================================
   #GALLERY
   ========================================================================== */

.c-gallery {

	@include mq($until: tablet) {
		padding-bottom: $inuit-global-spacing-unit;
	}

	@include mq($from: desktop) {
		margin: (-$inuit-global-spacing-unit-large) 0 0 (-$inuit-global-spacing-unit-large);
	}

	// E: Item
	&__item {
		padding-top: $inuit-global-spacing-unit;
		text-align: center;

		@include mq($from: desktop) {
			padding: $inuit-global-spacing-unit-large 0 0 $inuit-global-spacing-unit-large;
		}
	}


	// E: Thumb
	&__thumb {

	}
}
