///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

// Fonts
$font-roboto: 'Roboto', sans-serif; 

// Colors
$color-gray: #f1f2f3;

$color-blue-light: #13c0d7;
$color-blue-dark: #225d69;
$color-blue-darker: #032f3c;
